@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper-sep {
  grid-template-columns: auto 211px;
}

