@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #55B0E4;
  --dark-blue: #082E4A;
  --dark: #292929;
  --light-blue: #B6E9FF;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper-sep {
  grid-template-columns: auto 211px;
}

.wrapper-sep-r {
  grid-template-columns: 211px 1fr;
}

h5 {
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
}

p {
  color: var(--dark-blue);
}

ul {
  list-style-position: inside;
}

.base_button{
  background-image: url(/buttonFon.svg);
  transition: all .2;
}

.base_button:hover, .base_button:active{
  background-image: url(/buttonFon-d.svg);
}

.bord_frame{
  border: 5px solid;
  border-width: 5px;
  /* border-image: linear-gradient(to left, #743ad5, #d53a9d); */
  border-image: linear-gradient(to bottom right, var(--blue), var(--light-blue), var(--dark-blue));
  border-image-slice: 100;
}

.button-blue-bg{ 
  background-image: linear-gradient(rgb(182, 233, 255, 0), rgb(182, 233, 255, 0.35), white);
}

.none {
  display: none;
}

@keyframes opacityAnimate {
  0% {
      opacity: 1;
      scale: 1;
      display: flex;
  }
  99%{
     display: flex;
  }
  100% {
      display: none;
      opacity: 0;
      scale: 10;
  }
}

.hide-anim{
  animation: 1s ease 1.5s 1 opacityAnimate;
  animation-fill-mode: both;
}

.grid-contact{
  display: grid;
  grid-template-columns: 450px 1fr;
}